---
---

<style>
@media (max-width: 575.98px) {
  table {
    font-size: 1rem;
  }
}
</style>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col" class="d-none d-lg-table-cell">Author</th>
      <th scope="col" class="d-none d-md-table-cell">Published</th>
      <th scope="col" class="d-none d-md-table-cell">likes</th>
      <th scope="col">actions</th>
    </tr>
  </thead>

  <tbody>
    <tr class="placeholder-glow">
      <td><span class="placeholder col-6"></span></td>
      <td class="d-none d-lg-table-cell"><span class="placeholder col-6"></span></td>
      <td class="d-none d-lg-table-cell"><span class="placeholder col-6"></span></td>
      <td class="d-none d-lg-table-cell"><span class="placeholder col-9"></span></td>

      <td class="d-none d-lg-table-cell">
        <button
          class="btn btn-sm btn-info disabled placeholder col-2"
          aria-disabled="true">
        </button>

        <button
          class="btn btn-sm btn-success disabled placeholder col-2"
          aria-disabled="true">
        </button>

        <button
          class="btn btn-sm btn-danger disabled placeholder col-2"
          aria-disabled="true">
        </button>
      </td>

      <td class="d-lg-none">
        <button
          class="btn btn-sm btn-primary disabled placeholder col-3 float-end"
          aria-disabled="true">
        </button>
      </td>
    </tr>

    <tr class="placeholder-glow">
      <td><span class="placeholder col-3"></span></td>
      <td class="d-none d-lg-table-cell"><span class="placeholder col-8"></span></td>
      <td class="d-none d-lg-table-cell"><span class="placeholder col-6"></span></td>
      <td class="d-none d-lg-table-cell"><span class="placeholder col-9"></span></td>
      <td class="d-none d-lg-table-cell">
        <button
          class="btn btn-sm btn-info disabled placeholder col-2"
          aria-disabled="true">
        </button>

        <button
          class="btn btn-sm btn-success disabled placeholder col-2"
          aria-disabled="true">
        </button>

        <button
          class="btn btn-sm btn-danger disabled placeholder col-2"
          aria-disabled="true">
        </button>
      </td>

      <td class="d-lg-none">
        <button
          class="btn btn-sm btn-primary disabled placeholder col-3 float-end"
          aria-disabled="true">
        </button>
      </td>
    </tr>
  </tbody>
</table>
