---
import '$styles/editor.scss'
import HeroPicker from './HeroPicker.astro'
---

<div class="row">
  <div class="col-md-8">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" value="" />
    </div>

    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea
        class="w-100"
        style="min-height: 400px"
        id="post-content"
        name="content"></textarea>
    </div>
  </div>

  <div class="col-md-4">
    <div class="mb-3">
      <label for="title" class="form-label">Author</label>
      <input type="text" class="form-control" id="author" disabled />
    </div>

    <div class="mb-3">
      <HeroPicker id="hero" />
    </div>

    <img id="hero-preview" class="img-fluid rounded" />
  </div>
</div>

<script>
  import { StringRecordId } from 'surrealdb'

  import { joditInit } from '$lib/editor'
  import { authService } from '$lib/auth'

  authService.isReady.then(() => {
    import('$lib/hero.ts')
    const db = authService.getDb()

    const hero = document.getElementById('hero')
    const title = document.getElementById('title')
    const author = document.getElementById('author')
    const content = document.getElementById('post-content')

    author.value = authService.getUser().id

    joditInit(content)

    const save = document.getElementById('save')
    save.addEventListener('click', async (evt) => {
      const table = evt.target.dataset.table

      const post = {
        hero: hero.value,
        title: title.value,
        author: new StringRecordId(author.value),
        content: [content.value],
      }

      const res = await db.create(table, post)

      // some kind of alert or redirect
      window.location.href = `/auth/admin/content/edit?id=${res[0].id.toString()}`
    })
  })
</script>
