---
import BaseLayout from '$layouts/Base.astro'
import PostsTable from '$components/admin/posts/PostsTable.astro'
---

<BaseLayout
  auth={true}
  admin={true}
  title="Modules List"
  description="Modules Manager">

  <div class="d-flex flex-row justify-content-center align-items-center px-3">
    <a
      class="d-none d-lg-block btn btn-outline-primary pt-0"
      href="/auth/admin">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
      </svg>
    </a>

    <h1 class="w-100">Modules Manager</h1>

    <a
      type="button"
      class="d-none d-lg-block btn btn-primary flex-shrink-1"
      href="/auth/admin/content/create/?table=module">Create</a>
  </div>

  <hr />

  <div class="px-xl-2">
    <PostsTable type="module" />
  </div>
</BaseLayout>
