@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy"),
    url("/fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: URL("/fonts/Gilroy-Bold.ttf") format("truetype");
}

$primary: #613583;
$secondary: teal;
$font-size-base: 1.25rem;
$font-family-sans-serif:
  "Gilroy",
  system-ui,
  -apple-system,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  "Noto Sans",
  "Liberation Sans",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji" !default;

@import "bootstrap/scss/bootstrap";

:root {
  --transition-duration: 2s;
}

:not(:defined) {
  visibility: hidden;
}

strong,
b,
.fw-bold {
  font-family: "Gilroy-Bold";
  font-weight: bold;
}

h1 {
  // color: $primary;
  color: var(--bs-primary);
  text-align: center;
}

main {
  padding: 2rem;
}

::selection {
  background-color: rgba(var(--bs-primary-rgb), 0.5);
  color: white;
}

.text-blue {
  color: var(--bs-blue);
}

.bg-primary {
  background-color: var(--bs-primary);
}

.text-primary {
  color: var(--bs-primary);
}

.progress-bar {
  background-color: var(--bs-primary);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--bs-primary);
}

.list-group-horizontal > .list-group-item + .list-group-item.active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.page-link.active,
.active > .page-link {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-check:checked + .btn {
  border-color: var(--bs-primary);
}

.border-primary {
  border-color: var(--bs-primary);
}

.form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
