---
import { SITE_TITLE, SITE_DESCRIPTION } from '$lib/consts';

import Head from './components/Head.astro'
import ModalLogin from './components/ModalLogin.astro'
import Footer from './components/Footer.astro'
import Navbar from './components/Navbar.astro'

interface Props {
  auth?: boolean;
  admin?: boolean

  title?: string;
  description?: string;
}

const modalLogin = 'modal-login'
const { auth = true, admin = true, title, description } = Astro.props;
---

<!DOCTYPE html>
<html
  data-bs-theme="light"
  lang="es">
	<head>
		<Head title={title || SITE_TITLE} description={description || SITE_DESCRIPTION} />
	</head>

  <body>
    <header>
      <Navbar loginSelector={'#' + modalLogin} />
    </header>

    <wl-security
      class="py-3"
      style="--wl-security-bg: rgba(var(--bs-body-bg-rgb), 0.7)"
      needs={JSON.stringify({auth, admin})}>
      <main
        class="container bg-body-tertiary rounded shadow-lg"
        id="content"
        slot="content">
        <div class="p-1">
          <slot />
        </div>
      </main>

      <div slot="warning">
        <h4>Please login to access</h4>

        <a
          type="button"
          class="btn btn-primary"
          aria-label="login to access"
          data-bs-toggle="modal"
          data-bs-target={"#" + modalLogin}>
          Login
        </a>

        <!--
        <a
          aria-label="login to access"
          onclick="
            const pathname = window.location.pathname
            localStorage.setItem('pathname', pathname)
          "
          href="/auth/login/">
          Login
        </a>
        -->
      </div>
    </wl-security>

    <div class="mt-5">
      <Footer />
    </div>

    <script>
      import '@webslab/shared/components/security';

      customElements.whenDefined('wl-security').then(async () => {
        import('$lib/auth').then((module) => {
          const { authService } = module
          const wlSecurity = document.querySelector('wl-security')

          wlSecurity.auth = authService
        })
      })
    </script>

    <ModalLogin selector={modalLogin} />
  </body>
</html>
