<template slot="template" is:raw>
  {% set item = result[0][0] %}
  <div class="row">
    <div class="col-md-8">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" value="{{ item.title }}" />
      </div>

      <div class="mb-3">
        <label for="content" class="form-label">Content</label>

        <textarea
          class="w-100"
          style="min-height: 400px"
          id="post-content"
          name="content">{{ item.content[0] | safe }}</textarea>
      </div>
    </div>

    <div class="col-md-4">
      <div class="mb-3">
        <label for="title" class="form-label">Author</label>
        <input
          type="text"
          class="form-control"
          id="author"
          disabled data-author="{{ item.author }}"
          value="{{ item.authorName }}"
        />
      </div>

      <div class="mb-3" id="heroPicker" data-current="{{ item.hero }}"></div>

      <div class="mb-3">
        <label for="publish" class="form-label">Publish date</label>

        <input
          type="date"
          class="form-control"
          id="publish"
          name="publish"
          value="{{ item.publish_fmt }}" />
      </div>

      <div
        id="pages-container"
        class="d-none mb-3">
        <p class="mb-0">Pages</p>

        <ul
          id="pages-list"
          class="list-group">
          {% for content in item.content %}
          <li
            data-index="{{ loop.index0 }}"
            class="list-group-item">
            <span class="btn btn-sm btn-outline-secondary">Page: {{ loop.index }}</span>

            <button
              id="del-page"
              class="btn btn-sm btn-outline-danger mt-0 float-end">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
              </svg>
            </button>
          </li>
          {% endfor %}

          <li class="list-group-item text-center">
            <button
              id="add-page"
              class="btn btn-sm btn-outline-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg>
            </button>
          </li>
        </ul>
      </div>

    </div>
  </div>
</template>
