---
import { WlTable } from '@webslab/shared/components/table'
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Index</title>
  </head>
  <body>
    <h1>Table</h1>

    <!--
    <WlTable
      client:only="lit"
      live="false"
      query="SELECT * FROM users;"
      target="tbody">

      <table style="padding: 1rem; margin-inline: auto;">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
          </tr>
        </thead>

        <tbody></tbody>
      </table>

      <template slot="template" is:raw>
        {% for item in result %}
        <tr data-id="{{ item.id }}">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.age }}</td>
        </tr>
        {% endfor %}
      </template>
    </WlTable>
    -->

  </body>
</html>
