<div class="row">
  <div class="col-12 col-lg-4 mt-3">
    <h3 class="ms-2 h5 text-warning">Important</h3>

    <p class="mb-0">
      Don't forget to copy the password before closing the modal to be able to share it with the user.
    </p>
  </div>

  <div class="col col-lg-8">
    <div class="mb-3">
      <label class="form-label" for="input-name">Name</label>

      <input class="form-control" id="input-name" name="name" type="text" />
    </div>

    <div class="mb-3">
      <label class="form-label" for="input-email">Email</label>

      <input class="form-control" id="input-email" name="email" type="email" />
    </div>

    <div class="mb-3">
      <label class="form-label" for="input-password">Password</label>

      <input
        class="form-control"
        id="input-password"
        name="password"
        type="text" />
    </div>
  </div>
</div>
