---
import BaseLayout from '$layouts/Base.astro'
---

<style>
.card {
  transition: all 0.5s;
}

.card:hover{
  border: 1px solid var(--bs-primary);
  transform: scale(1.05);
}
</style>

<BaseLayout
  auth={true}
  admin={true}
  title="Admin"
  description="Admin navigation">

  <!--     <li class="list-group-item list-group-item-action py-1 px-2"> -->
  <!--       <a href="/auth/admin/styles/"> -->
  <!--         Styles -->
  <!--       </a> -->
  <!--     </li> -->

  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 mt-3">

      <a href="/auth/admin/content/post/">
        <div class="card mb-3 shadow">
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-center text-primary">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  fill="currentColor"
                  class="bi bi-broadcast"
                  viewBox="0 0 16 16">
                  <path d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707m2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708m5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708m2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0"/>
                </svg>
              </div>

              <div class="col">
                <p clas="card-text">
                  Blog manager
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a href="/auth/admin/content/module/">
        <div class="card mb-3 shadow">
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-center text-primary">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  fill="currentColor"
                  class="bi bi-boxes"
                  viewBox="0 0 16 16">
                  <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z"/>
                </svg>
              </div>

              <div class="col">
                <p clas="card-text">
                  Modules manager
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a href="/auth/admin/user/">
        <div class="card mb-3 shadow">
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-center text-primary">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  fill="currentColor"
                  class="bi bi-people"
                  viewBox="0 0 16 16">
                  <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
                </svg>
              </div>

              <div class="col">
                <p clas="card-text">
                  User administrator
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>

    </div>
  </div>
</BaseLayout>
