---
import BaseLayout from '$layouts/Base.astro'
---

<BaseLayout
  auth={true}
  admin={true}
  title="Admin"
  description="Admin options">

  <h1>Admin</h1>

  <div class="py-3 col col-lg-6 offset-lg-3">
    <ul class="list-group text-center">
      <li class="list-group-item list-group-item-action py-1 px-2">
        <a href="/auth/admin/content/posts/">
          Blog
        </a>
      </li>

      <li class="list-group-item list-group-item-action py-1 px-2">
        <a href="/auth/admin/content/modules/">
          Modules
        </a>
      </li>

      <li class="list-group-item list-group-item-action py-1 px-2">
        <a href="/auth/admin/users/">
          Users
        </a>
      </li>

      <li class="list-group-item list-group-item-action py-1 px-2">
        <a href="/auth/admin/styles/">
          Styles
        </a>
      </li>
    </ul>
  </div>
</BaseLayout>
